@import url('https://fonts.googleapis.com/css?family=Lato');

.App {
  font-family: 'Lato', sans-serif;
}
*, body{
  margin:0;
  padding:0;
}

div{
  display:block;
}

.news-container{
  margin:0 45px;
  height:auto;
}

